.search-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* Allow wrapping for smaller screens */
}

.search-bar input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    margin-right: 10px;
    /* Add spacing between input and buttons on small screens */
}

.tag-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* Allow wrapping for smaller screens */
    margin-left: 0;
}

.tag-button {
    padding: 10px 15px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    transition: 300ms;
}

.tag-button.spoiler-tag {
    border-color: rgba(218, 165, 32, 0.7);
    color: rgba(218, 165, 32, 0.7);
}

.tag-button.spoiler-tag.active {
    background-color: rgba(218, 165, 32, 1);
    color: #000;
}

.tag-button.boss-tag {
    border-color: rgba(201, 0, 0, 0.7);
    color: rgba(201, 0, 0, 0.7);
}

.tag-button.boss-tag.active {
    background-color: rgba(201, 0, 0, 1);
    color: #000;
}

.tag-button.quest-tag {
    border-color: rgba(0, 191, 255, 0.7);
    color: rgba(0, 191, 255, 0.7);
}

.tag-button.quest-tag.active {
    background-color: rgba(0, 191, 255, 1);
    color: #000;
}

.tag-button.missable-tag {
    border-color: rgba(30, 144, 255, 0.7);
    color: rgba(30, 144, 255, 0.7);
}

.tag-button.missable-tag.active {
    background-color: rgba(30, 144, 255, 1);
    color: #000;
}