.App {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .item-left {
    display: flex;
    align-items: center;
    width: 50%; /* Ensure consistent width */
    margin-right: 10px;
  }
  
  .item-right {
    display: flex;
    flex-direction: column;
    width: 50%; /* Ensure consistent width */
  }
  
  .item input[type="checkbox"] {
    margin-right: 15px;
    transform: scale(1.5); /* Makes the checkbox twice its current size */
  }
  
  .item label {
    flex: 1.5; /* Adjust size as needed */
  }
  
  .item .item-link-icon {
    margin-right: 10px;
  }
  
  .item .item-image {
    width: 80px; /* Adjust size as needed to make the images larger */
    height: auto;
    margin-right: 10px;
  }
  
  .item .item-text {
    flex: 6; /* Reduce space to fit better with set pieces */
    font-size: 0.9em;
    margin-left: 10px;
  }
  
  .item-pieces {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure set pieces take up the full space of the right column */
  }
  
  .item-piece {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .item-piece input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .item-piece label {
    flex: 1; /* Adjust size as needed */
  }
  
  .item-piece .item-link-icon {
    margin-right: 5px;
  }
  
  .item-piece .item-image {
    width: 30px; /* Adjust size as needed */
    height: auto;
    margin-right: 5px;
  }
  
  .item-piece .item-text {
    flex: 4;
    font-size: 0.8em;
    margin-left: 5px;
  }
  
  .filter {
    margin-bottom: 20px;
  }
  
  .filter button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .filter button.active {
    background-color: #333;
    color: #fff;
  }
  
  .filter button:hover {
    background-color: #e0e0e0;
  }
  
  .checkbox-container {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f0f0f0; /* Light color when not selected */
    color: #000;
  }
  
  .checkbox-container.checked {
    background-color: #333; /* Dark color when selected */
    color: #fff;
  }
  
  .filter label {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .filter input[type="checkbox"] {
    display: none;
  }
  
  .filter input[type="checkbox"]:checked + label {
    background-color: #777;
    color: #fff;
  }

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    display: none; /* Initially hidden */
  }
  
  .scroll-to-top.show {
    display: block; /* Show when the user scrolls down */
  }
  
  